.exercises {
    background-color: #bb88bb;
    padding: 10px;
}

.exercises div {
    background-color: #996699;
    text-align: center;
    padding: 3px;
}

ul {
    list-style: none;
}

li {
    background-color: #ddbbdd;
    margin: 5px;
    padding: 3px;
}

li:hover {
    background-color: #ffffff;
}

.chosen {
    border: 2px solid #666644;
    background-color: #cccc88;
}

.ocjena {
    background-color: #cccc88;
    margin: 10px;
    padding: 2px 3px;
    display: inline;
    border: 1px solid #666644;
}

.expected {
    background-color: #ffffff;
    text-align: center;
    padding: 2px 3px;
    border: 1px solid black;
}